* {
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    position: relative;
    color: #fff;
    font-family: Verdana, sans-serif;
    text-align: center;
}

main {
    width: 90%;
    height: auto;
    /*background-color: #37f708;*/
    margin: auto;
}

#titulo_pagina {
    width: 100%;
    height: 120px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Estilo de onde ele está*/
#menu_superior{
    width: 100%;
    height: 40px;
    background-color: rgb(2, 9, 100);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*estilo do Hiperlink*/
#menu_superior a{
    color:#FFF;
    text-decoration: none;
    width: 16.67%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; /*Conteúdo se encaixa no espaço existente*/
}

#menu_superior a:hover{
    background-color:#fff;
    color:blue;
    transition: 1s all;
}

#menu_lateral{
    width: 20%;
    height: 480px;
    float: left;
    display: flex;
    flex-direction: column;
}

#menu_lateral a{
    width: 100%;
    height: auto;
    background-color: #777;
    padding: 11.8px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
    text-align: left;
}

#menu_lateral a:hover{
    background-color: #000;
    border-color: #ff0000;
}

#meio{
    width: 58%;
    height: 480px;
    float: left;
    padding-left: 1%; /*Espaçamento dentro do elemento, na largura (left e right)*/
    padding-right: 1%;
    
}

#titulo_meio{
    width: 100%;
    height: 40px;
    background-color: #FFF;
    color: #000;
}

#div_meio{
    width: 100%;
    height: 150px;

    & img{
        width: 100%;
        height: 100%;
    }
}

#meio p{
    width: 100%;
    height: 130px;
    background-color: #80e1ee;
    margin-top: 10px;
    color: #000;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
}

#container{
    width: 100%;
    height: 140px;
    margin-top: 10px;

    /*para alinhar as caixas é dentro da tag pai das caixas*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.caixa{
    width: 30%;
    height: 140px;
}

#caixa1{
    background-image: url(imagens/Sol.png);
    background-color: rgb(139, 173, 238);
    background-size: cover; /*para cobrir todo o espaço da caixa*/
}
    
#caixa2{
    background-image: url(imagens/Estrada.jpg);
    background-size: cover; 
    }

#caixa3{
    background-image: url(imagens/Montanhas.jpg);
    background-size: cover;
}

aside{
    width: 20%;
    height: 480px;
    float: left;
    
    & img{
        width: 100%;
        height: 100%;
    }
}

footer{
    clear: left;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width:768px) and (max-width:1023px){
    
}