*{
    padding: 0; 
    border: 0;
}

main{
    position: relative;
    height: auto;
    width: 95%;
    background-color:  rgb(199, 114, 114);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header{
    background-image: url(./imagens_atividade_violão/imagens/guitarras_header2.jpg);

    width: 100%;
    height: 200px;
}

#menu {
    position: absolute;
    top: 140px;
    left: 55.5%;
    background-color: white;
    width: 40%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;   
}

#menu li {
    display: inline-block;
    margin: 0 15px; 
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: rgb(112, 32, 32);
    font-weight: bold;
    font-size: 14px;
}

#menu a:hover {
    color: rgb(160, 74, 63);
}



#vermelho {
    background-color: rgb(218, 0, 0);
    width: auto;
    height: 400px;
    margin-top: 10px;

}

.destaque{
    font-weight: 700;
    font-size: 18px;
}

.destaque2{
    font-weight: 700;
    font-size: 18px;
    color: red;
}

#rosa1{
    background-color: rgb(143, 86, 78);
    width: 550px;
    height: 320px;
    margin: 30px 0px 0px 50px;
    float: left;

    p{
        margin-top: 30px;
        font-size: 14px;
        text-align: justify;
        margin-right: 30px;
    }
}



#rosa2{
    background-image: url(imagens_atividade_violão/imagens/loja.jpg);
    background-size: cover;
    width: 550px;
    height: 320px;
    margin: 30px 0px 0px 60px;
    float: left;


}

#fundo_ciano{
    background-color: aqua;
    width: 100%;
    height: 380px;
    margin-top: 10px;
    clear: left;
}

.caixas_brancas{
    background-color: rgb(255, 255, 255);
    width: 253px;
    height: 340px;
    border-radius: 20px;
    text-align: center;

    margin: 20px 0px 0px 50px;
    float: left;

    img{
        margin-top: 15px;
        width: 100%;
        height: 150px;
    }

    .texto{
        color:black;
        margin: auto;
    }
}

#laranja{
    width: 100%;
    height: 380px;
    background-color: rgb(255, 60, 0);
}

#maps{
    background-color: #07024e;
    width: 550px;
    height: 270px;
    margin: 30px 0px 0px 50px;
    float: left;
}

#marrom{
    background-color: rgb(143, 86, 78);
    width: 550px;
    height: 270px;
    margin: 30px 0px 0px 60px;
    float: left;

    p{
        margin-top: 30px;
        font-size: 14px;
        text-align: justify;
        margin-right: 30px;
    }

}

p{
    margin-left: 30px;
    margin-top: 10px;
}

#amarelo{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: yellow;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

 
#caixa1{
    position: relative;
    margin-left: 50px;
    width:42%;
    height:320px;
    background-color:#07024e;
    float: left;
}

#caixa2{
    position: relative;
    float: left;
    width: 42%;
    height: 320px;
    background-color: rgb(27, 158, 86);
    margin-right: 50px;
  
}

footer{
    background-color: black;
    width: 100%;
    height: 120px;
    margin-top: 10px;
}