*{
    margin: 0;
    padding: 0;
    border: 0;

}

main{
    position: relative;
    width: 90%;
    height: auto; /*inicio colocar tamanho, ao final mudar para auto*/
    background-color: rgb(253, 238, 173);
    margin: auto;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times;
    text-align: left;
    font-weight:lighter;
}  

header{
    background-color: rgb(187, 255, 0);
    font-size: 25px;
    font-weight: bold;

    width: auto;
    height: 80px;
    display: flex; justify-content: center; align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#lado_esquerdo{
    width: 25%;
    height: 450px;
    background-color: aqua;
    float: left;

    gap: 10px;
     
}

nav{
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 200px;
    margin: auto 14px;
    margin-bottom: 15px;
}

aside{
    background-color: rgb(255, 255, 255);
    width: 270px;
    height: 200px;
    margin: auto 14px;
}

#lado_direito{
    width: 75%;
    height: 450px;
    background-color: rgb(153, 0, 255);
    float: left;
}


article{
    background-color: rgb(255, 255, 255);
    margin-bottom: 15px;
    margin: auto 8px;
    margin-top: 13px;
    height: 93.4%;
    width: auto;
}

h1{
    text-align: center;
    background-color: rgb(156, 248, 248);
    width: auto;
    height: 30px;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 8px;
}

#texto2{
    background-color: rgb(233, 104, 104);
    width: auto;
    height: 120px;
    color: #FFF;
}

#conteudo1{
    margin: auto 7px;
}

#area_imagem{
    margin-top: 8px;
    background-color: rgb(157, 157, 245);

    width: auto;
    height: 54%;
    margin-bottom: 10px;


}



footer{
    clear: left;
    width: auto;
    height: 80px;
    background-color: rgb(80, 21, 3);
    color: rgb(255, 255, 255);
    font-size: 15px;
}